<div class="modal-header">
    <h3>Sign Up For Updates</h3>
</div>
<hr />
<div class="modal-body">
    <div>
        <p>We are currently not open for registration. Please enter your email address and sign up to receive an update when we open registration. We will be sure to include a special something if you do.</p>
    </div>
    <hr />
    <div class="">
        <form role="form" name="regForm" class="form-horizontal" ng-submit="" method="POST" id="register" novalidate>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger" role="alert alert-danger" ng-show="showError">Something went wrong. Please check your entries and try again.</div>
                <div class="form-group">


                    <!-- EMAIL -->
                    <div ng-class="{ 'has-error' : regForm.email.$touched && regForm.email.$invalid }" class="form-group ">
                        <span class="alert-danger" ng-show="regForm.email.$touched && regForm.email.$invalid">Invalid email address.</span>
                        <input type="email" class="form-control" name="email" id="email" ng-model="formData.email" placeholder="Email" value="" required>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<br />

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-default" data-ng-click="submitForm(regForm.$valid)" ng-disabled="regForm.$invalid">Sign Up!</button>
</div>

