
<div class="form-title col-xs-12 col-md-12 text-center">
     <h2>Create New Event</h2>
</div>

<div class="event event col-xs-12 col-md-12 form-background" ng-controller="eventFormController">

          <form role="form" name="eventForm" class="form-horizontal event-form" ng-submit="submitForm(eventForm.$valid)" method="POST" id="event-form" novalidate>
               <div class="col-md-6 col-md-offset-2">
                    <div class="alert alert-danger" role="alert" ng-show="showError">Something went wrong. Please check your entries and try again.</div>


                    <h4>Primary Host</h4>

                    <!-- FIRST NAME -->
                    <div ng-class="{ 'has-error' : eventForm.pHostFirstName.$touched && eventForm.pHostFirstName.$invalid }" class="form-group ">
                         <span class="alert" ng-show="eventForm.pHostFirstName.$touched && eventForm.pHostFirstName.$invalid">This field is required.</span>
                         <input type="text" class="form-control" name="pHostFirstName" id="pHostFirstName" placeholder="First Name" value="{{ user.first_name }}" ng-model="formData.pHostFirstName" required>
                    </div>

                    <!-- LAST NAME -->
                    <div ng-class="{ 'has-error' : eventForm.pHostLastName.$touched && eventForm.pHostLastName.$invalid }" class="form-group ">
                         <span class="alert" ng-show="eventForm.pHostLastName.$touched && eventForm.pHostLastName.$invalid">This field is required.</span>
                         <input type="text" class="form-control" name="pHostLastName" id="pHostLastName" placeholder="Last Name" value="{{ user.last_name }}" ng-model="formData.pHostLastName" value="" required>
                    </div>

                    <h4>Second Host</h4>

                    <!-- FIRST NAME -->
                    <div class="form-group ">
                         <input type="text" class="form-control" name="sHostFirstName" id="sHostFirstName" placeholder="First Name" value="" ng-model="formData.sHostFirstName" >
                    </div>

                    <!-- LAST NAME -->
                    <div class="form-group ">
                         <input type="text" class="form-control" name="sHostLastName" id="sHostLastName" placeholder="Last Name" value="" ng-model="formData.sHostLastName" >
                    </div>

                    <h4>Event Info</h4>

                    <!-- EVENT NAME -->
                    <div ng-class="{ 'has-error' : eventForm.eventName.$touched && eventForm.eventName.$invalid }" class="form-group ">
                         <span class="alert" ng-show="eventForm.eventName.$touched && eventForm.eventName.$invalid">This field is required.</span>
                         <input type="text" class="form-control" name="eventName" id="eventName" placeholder="Event Name" ng-trim="false" ng-model="formData.eventName" value="" required>
                    </div>

                    <!-- EVENT DATE -->
                    <div ng-class="{ 'has-error' : eventForm.eventDate.$touched && eventForm.eventDate.$invalid }" class="form-group ">
                         <span class="alert" ng-show="eventForm.eventDate.$touched && eventForm.eventDate.$invalid">This field is required.</span>
                         <span class="aleart" ng-show="eventForm.eventDate.$error.min">Event date can not be earlier than today.</span>
                         <input type="date" class="form-control" name="eventDate" id="eventDate" ng-model="formData.eventDate"  value="" min="{{ today }}" required>
                    </div>               

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="btn btn-default" ng-disabled="eventForm.$invalid">Submit</button>


               </div>
          </form>
     </div>
