
      <div class="event col-xs-12 col-md-12" ng-controller="eventController">
      	<div class=" form-background text-center" ng-if="events == ''">
            <h3><p>Thank you for registering {{ user.first_name }}!</p></h3><br>
      	    <p>The first step is to create your event so that you can manage your guest list. <a href ng-click="changeView('create')">Click here to create an event.</a></p>
      	</div>
      	<div ng-if="events != ''">

	      	<div id="eventCodes" ng-controller="guestListCtrl">
                <div class="tabs-wrap">
                    <uib-tabset class="event-tabset" type="pills">
                        <uib-tab class="event-tabs responsive-tabs" id="responsivTabs" ng-repeat="events in eventInfo.events" heading="{{ events.event_name }}" active="{{ events.event_code }}">
                            <div class="event-info">
                                <div class="event-table responsive">
                                    <ul>
                                        <li><strong>Date:</strong> {{ events.event_date }}</li>
                                        <li><strong title="Registration Code">Registration Code:</strong> {{ events.event_code }}</li>
                                        <li><strong>SMS Phone Number:</strong> {{ events.event_phone | tel }}</li>
                                        <li><strong>Primary Host:</strong> {{ events.primary_host }}</li>
                                        <li><strong>Second Host:</strong> {{ events.second_host }}</li>
                                        <li><strong>Number of Guests:</strong> {{ events.guest_count }}</li>
                                    </ul>
                                </div>
                                <uib-accordion close-others="oneAtATime">
                                    <div uib-accordion-group class="panel-default" heading="Guest List" is-open="false" is-disabled="status.isFirstDisabled">
                                        <uib-accordion close-others="oneAtATime">
                                            <div uib-accordion-group class="panel-default" heading="Add Guest" is-open="false" is-disabled="status.isFirstDisabled">
                                                <div class="guest-form" id="add-guest">
                                                    <form role="form" name="guestForm" class="form-horizontal" ng-submit="addGuest(guestForm.$valid, events.event_code, 'add')" id="addGuest" novalidate>

                                                        <!-- GUEST NAME -->
                                                        <div ng-class="{ 'has-error' : guestForm.guestName.$touched && guestForm.guestName.$invalid }" class="form-group col-sm-6">
                                                            <span class="alert" ng-show="guestForm.guestName.$touched && guestForm.guestName.$invalid">This field is required.</span>
                                                            <input type="text" class="form-control" name="guestName" id="guestName" value="" placeholder="First and Last Name" ng-model="formData.guestName" required>
                                                        </div>

                                                        <!-- ADDITIONAL GUESTS -->
                                                        <div ng-class="{ 'has-error' : guestForm.addGuest.$touched && guestForm.addGuest.$invalid }" class="form-group col-sm-3">
                                                            <span class="alert" ng-show="guestForm.addGuest.$touched && guestForm.addGuest.$invalid">This field is required.</span>
                                                            <input type="text" class="form-control" name="addGuest" id="addGuest" value="" placeholder="Additional Guests" ng-model="formData.addGuest" required>
                                                        </div>

                                                        <!-- SUBMIT BUTTON -->
                                                        <button type="submit" class="btn btn-info btn-md" ng-disabled="guestForm.$invalid">Submit</button>

                                                    </form>
                                                </div>
                                            </div>
                                        </uib-accordion>
                                        <div st-table="displayedList" st-safe-src="events.guest_list" id="guestlist" class="guestlist table-responsive">
                                            <table id="gltable" class="table table-striped">
                                                <tr>
                                                    <th st-sort="guest_name" class="text-center">Guest Name</th>
                                                    <th st-sort="add_guest" class="text-center">Additional Guests</th>
                                                    <th st-sort="attending" class="text-center">Attending</th>
                                                    <th class="text-center">Delete</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5"><input st-search="" class="form-control" placeholder="Search Guest List..." type="text"/></th>
                                                </tr>
                                                <tr ng-repeat="guests in displayedList">
                                                    <td>{{ guests.guest_name }}</td>
                                                    <td class="text-center">{{ guests.add_guest }}</td>
                                                    <td class="text-center">{{ guests.attending }}</td>
                                                    <td class="text-center">
                                                        <button type="button" ng-click="removeGuest(events.event_code, 'remove', guests.id)" class="btn btn-sm btn-danger">
                                                            <i class="glyphicon glyphicon-remove-circle">
                                                            </i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </uib-accordion>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="info" id="info-div">
                        <h4>Welcome Back {{ user.first_name }}!</h4>
                        <p>This is where you manage your events and guestlists. </p>
                        <p><strong>What does it all mean?</strong></p>
                        <p>The <strong>Registration Code</strong> is the code that your guests need to text in to RSVP for your event.<br />
                        The <strong>SMS Phone Number</strong> is the phone number your guests text the registration code to.<br>
                        The <strong>Number of Guests</strong> field shows the number of guests that have RSVP'd with a Y.</p>
                        <p>Click on <strong>Guest List</strong> to see a table of guests who have RSVP'd, the number of additional guests, and wether or not they are attending.<br>
                        While viewing your Guest List you can manually add a guest by clicking on <strong>Add Guest</strong></p>
                    </div>
                </div>
            </div>
	      	</div>
      	</div>

      </div>